.mainHeader {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 37em;
  justify-content: center;
  order: 2;
  margin-top: 3.1em;
  align-items: center;
  background-color: #422c00;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  color: rgb(51, 48, 48);
}

.nav {
  position: fixed;
}

.arrow-down {
  display: flex;
  color: red;
  justify-content: center;
}

